.preFormTitle{
    background: rgba(0, 0, 0, 0.5);
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
    border-left: 3px solid var(--vt-c-ac-gold);
    margin-bottom: 0.75rem;
}
.contactFormWrapper{
    margin-block: 5%;
    margin-inline: 10%;
    padding: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--vt-c-ac-maroon);
    color: var(--vt-c-white);
}

.form{
    width: 100%;
}
.formGrid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
    @media screen and (max-width: 768px){
        grid-template-columns: 1fr;
    }
}

.inputField, .selectField, .textAreaField{
    width: 100%;
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border: 1px solid var(--vt-c-white);
    background: var(--vt-c-ac-maroon);
    color: var(--vt-c-white);
}

.selectField{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-size: 1rem;
}

.selectField option{
    background: var(--vt-c-white);
    color: var(--vt-c-black);
}

.inputField::placeholder, .selectField::placeholder, .textAreaField::placeholder{
    color: var(--vt-c-white);
}

.textAreaField{
    resize: none;
    height: 10rem;
}

.submitButton{
    background: var(--vt-c-ac-gold-gradient);
    color: var(--vt-c-black);
    border: none;
    padding-block: 0.75rem;
    padding-inline: 1rem;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 1rem;
}