
.main {
    background-color: var(--vt-c-ac-maroon);
    color: var(--vt-c-white);
}


.servicesBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
    @media (max-width: 1000px) {
        margin-top: 0;
    }
}

.servicesHeader {
    text-align: center;
    margin-bottom: 1%;
    @media (max-width: 768px) {
        margin-bottom: 2%;
    }
}

.servicesRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}



.officialsBoardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3vw;
    @media (max-width: 768px) {
        margin-top: 6vw;
    }
}

.officialsBoardHeader {
    text-align: center;
}

.officialsRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

.subContainer {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) {
    }
}

.mainBodyTitle {
    text-align: center;
}

.mainBodyImage {
    align-self: center;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 20vw;
    height: 25vw;
    @media (max-width: 768px) {
        width: 50vw;
        height: 63vw;
    }
}

.mainBodyImage:hover {
    transform: scale(1.1);
}

