
.detailBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 768px) {
    .detailBlock {
        flex-direction: column;
    }
}


.imageContainer {
    flex:1;
    display: flex;
    justify-content: center;
    padding: 4rem;
    @media (max-width: 768px) {
        padding: 1rem;
        order: 2;
    }
}

.mainImage {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.descriptionContainer {
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    padding-block: 4rem;
    padding-right: 4rem;
    @media (max-width: 768px) {
        padding: 2rem 2rem 0;
        order: 1;
    }
}

.detailBlockHeader {
    display: flex;
    margin-top: 2%;
    font-size: 1.5em;
    @media (max-width: 768px) {
        align-self: center;
        margin-block: 1rem;
    }
}

.detailBlockOverview {
    max-width: 100%;
    margin-top: 2%;
    font-size: 1em;
    @media (max-width: 768px) {
        align-self: center;
        text-align: center;
        margin-block: 1rem;
    }
}

.rowButtons{
    display: flex;
}

.rowButtonContainer {
    padding: 1rem 1rem 1rem 0;
    flex: 1;
}

.rowButton {
    width: 100%;
    padding: 1rem 2rem;
    border: none;
    font-size: 1em;
    font-weight: bold;
    color: var(--vt-c-black);
    background: var(--color-background-mute);
    transition: all 0.2s ease-in-out;
}

.rowButton:hover {
    scale: 1.05;
}

.activeRowButton, .rowButton:active {
    color : var(--vt-c-white);
    background: var(--color-primary) !important;
}

.rowButtonDescription {
    max-width: 100%;
    margin-bottom: 2%;
    font-size: 1em;
    @media (max-width: 768px) {
        align-self: center;
        text-align: center;
        margin-block: 1rem;
    }
}


