

.serviceContainer {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    margin-left: 2%;
    margin-right: 2%;
    max-width: 25%;
    border: 1px solid var(--vt-c-white);
    @media (max-width: 768px) {
        max-width: 100%;
        padding: 2%;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
}

.serviceTitle {
    @media (max-width: 768px) {
        text-align: center;
    }
}

.serviceDescription {
    margin-top: 3%;
    @media (max-width: 768px) {
        text-align: center;
    }
}