.grid{
    display: grid;
    /*maximum columns*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-inline: 5rem;
    column-gap: 1rem;
    row-gap: 1rem;
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        padding: 0;
    }
}

.cardWrapper{
    width: 100% !important;
    aspect-ratio: 3/4;
}