.container{
    background: white;
    padding-block: 4rem;
    padding-inline: 15%;
    @media (max-width: 768px) {
        padding-inline: 10%;
    }
}

.topSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.topMiddle{
    border-inline: 2px solid var(--vt-c-white-mute);
    @media (max-width: 768px) {
        border-right: none;
    }
}

.topRight{
    @media (max-width: 768px) {
        border-left: 2px solid var(--vt-c-white-mute);
    }
}

.topLeft, .topMiddle, .topRight{
    padding: 1rem;
}



.bottomSection{
    margin-top: 3rem;
}