.testimonialCard {
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  border: 1px solid var(--color-background-mute);
}

.testimonialCard > div {
  display: flex;
  justify-content: center;
  min-height: 50vh;
  max-height: 60vh;
}

.cardLeft {
  flex:1;
  flex-direction: column;
  padding: 0.5rem;
  background: var(--color-background-mute);
}

.cardLeft .testimonialImage{
  padding: 1rem;
}

.cardRight {
  flex:3;
  background: var(--color-primary-dark);
  color: white;
  padding: 2rem;
  font-style: italic;
}

.quote {
  text-align: center;
  overflow-y: scroll;
  padding-right: 1rem;
}

/* design redesign srollbar - transparent track and yellow thumb
https://stackoverflow.com/questions/46662981/how-to-change-the-color-of-scrollbar-in-html
*/
.quote::-webkit-scrollbar {
  width: 0.2rem;
}
.quote::-webkit-scrollbar-track {
  background: transparent;
}
.quote::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}


.quote::before {
  content: open-quote;
  margin-right: 0.5rem;
}

.quote::after {
  content: close-quote;
  margin-left: 0.5rem;
}

.quote::before,
.quote::after {
  color: var(--color-primary);
  font-size: 1.25em;
}
