.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page_title {
    font-size: clamp(1.5rem, 5vw, 2.2rem);
    font-weight: 600;
    text-align: center;
}

.newsletter {
    position: relative; 
    width: 90%; 
    height: 100vh;
    margin: 0;
    border: none; 
    padding: 0;
}