.main {
  background-color: var(--vt-c-ac-maroon);
  color: var(--vt-c-white);
  font-family: "Poppins", sans-serif;
}

.imgFooter {
  width: 100%;
  height: 25%;
  min-height: 200px;
  object-fit: cover;
}
.contactContainer {
  display: flex;
  gap: 30px;
}
.contactItem {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 10px;
}

.circleIcon {
  padding: 13px 17px;
  background: var(--vt-c-ac-gold-gradient);
  border-radius: 50%;
}

.fa_light {
  color: var(--vt-c-ac-maroon);
}
.contactText {
  font-weight: 400;
  font-size: clamp(0.7em, 2vw, 0.9em);
}

.innerLink {
  text-decoration: none;
  color: var(--vt-c-white);
}

.block3_content_wrapper {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.inputBox {
  padding: 1vw;
  width: 100%;
  background-color: var(--vt-c-ac-maroon);
  border-color: var(--vt-c-white);
  margin-bottom: 1vw;
  border: 1px solid var(--vt-c-white);
  @media (max-width: 768px) {
    margin-bottom: 1.5vw;
    text-align: center;
    padding: 0.5rem;
  }
}

.inputBox::placeholder {
  color: var(--vt-c-white);
}

.colspanDiv {
  width: 100%;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.copyrightContainer {
  display: flex;
  position: relative;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 0 2vw;

  @media (max-width: 1200px) {
    justify-content: center;
  }
}
.copyrightText {
  text-align: center;
  font-size: clamp(0.7em, 2vw, 0.8em);
  font-weight: 400;
}
.socialContainer {
  display: flex;
}
.socialContainer a {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
}

.socialIcon {
  color: var(--vt-c-white);
  margin-right: 1.5vw;
}
