.main {
  background-color: var(--vt-c-ac-maroon);
  color: var(--vt-c-white);
  font-family: "Poppins", sans-serif;
}

.imgFooter {
  width: 100%;
  height: 25%;
  min-height: 200px;
  object-fit: cover;
}
.footerItemsContainer {
  padding: clamp(30px, 4vw, 45px) 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
.subscriptionForm {
  border: 1px solid var(--vt-c-white);
  border-radius: 40px;
}
.subscriptionInput {
  background: none;
  color: var(--vt-c-white);
  border: none;
  padding-left: 15px;
  min-width: 40vw;
  @media (min-width: 768px) {
    min-width: clamp(100px, 30vw, 400px);
  }
}
.subscriptionInput::placeholder {
  color: var(--vt-c-white);
  font-family: "Poppins", sans-serif;
}
.subscriptionBtn {
  background: var(--vt-c-ac-gold);
  padding: 12px clamp(10px, 2vw, 50px);
  font-size: clamp(0.8em, 2vw, 0.9em);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: none;
  color: var(--vt-c-black);
  border-radius: 40px;
}
.contactContainer {
  display: flex;
  gap: 30px;
}
.contactItem {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 10px;
}

.circleIcon {
  padding: 13px 17px;
  background: var(--vt-c-ac-gold);
  border-radius: 50%;
}

.fa_light {
  color: var(--vt-c-ac-maroon);
  background: var(--vt-c-ac-gold);
}
.contactText {
  font-weight: 400;
  font-size: clamp(0.8em, 2vw, 0.9em);
}

.innerLink {
  text-decoration: none;
  color: var(--vt-c-white);
}

.block3_content_wrapper {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.inputBox {
  padding: 1vw;
  width: 100%;
  background-color: var(--vt-c-ac-maroon);
  border-color: var(--vt-c-white);
  margin-bottom: 1vw;
  border: 1px solid var(--vt-c-white);
  @media (max-width: 768px) {
    margin-bottom: 1.5vw;
    text-align: center;
    padding: 0.5rem;
  }
}

.inputBox::placeholder {
  color: var(--vt-c-white);
}

.colspanDiv {
  width: 100%;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.sendButton {
  width: 100%;
  padding: 0.8rem;
  color: var(--vt-c-black);
  font-weight: 600;
  border-width: 0;
  background: var(--vt-c-ac-gold-gradient);
  @media (max-width: 768px) {
    padding: 0.8rem;
    margin-bottom: 5%;
  }
}

.copyrightContainer {
  display: flex;
  gap: 15px;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid;
  margin: 0 15px;
  padding: 15px 0;
  @media (min-width: 992px) {
    justify-content: flex-end;
  }
}
.copyrightText {
  text-align: center;
  font-size: clamp(0.7em, 2vw, 0.8em);
  font-weight: 400;
  @media (min-width: 992px) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.socialContainer {
  display: flex;
}
.socialContainer a {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
}

.socialIcon {
  color: var(--vt-c-white);
  margin-right: 1.5vw;
}
