.heroImageContainer{
    height: calc(100vh - var(--header-banner-height));
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heroBanner{
    display: none;
}

/* Mobile view */
@media (max-width: 768px) {
    .heroImageContainer{
        height: 100vh;
    }

    .heroBanner{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        transition: all 0.5s ease-in-out;
    }

    .hideHeroBanner{
        width: 0 !important;
        background-color: transparent !important;
        opacity: 0;
    }
}

.redBlurGradient{
    background: linear-gradient(to right, rgba(136, 0, 0, 1), transparent);
    width: 30%;
    height: 100%;
}

@media (max-width: 768px) {
    .redBlurGradient{
        width: 100%;
        height: 10vh;
        background: linear-gradient(to bottom, rgba(136, 0, 0, 1), transparent);
    }
}