
.main {
    background-color: var(--vt-c-ac-maroon);
    color: var(--vt-c-white);
}

.imgMain {
    width: 100%;
    height: 25%;
}

.blockContainer {
    display: flex;
    justify-content: center;
    padding-block: 3rem;
    padding-inline: 10%;
    font-family: Krub, sans-serif;
    width: 100%;

    @media (max-width: 768px) {
        flex-direction: column;
        height: auto;
      }
}

.block1 {
    flex: 1;
}

.block2 {
    flex: 1;

    @media (max-width: 768px) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
}

.block3 {
    flex:1;

    @media (max-width: 768px) {
        width: 100%;
        margin-top: 3%;
        margin-left: 0;
        margin-right: 0;
      }
}


.aboutText {
    max-width: 100%;
    text-align: left;
    @media (max-width: 768px) {
        text-align: center;
    }
}

.contactContainer {
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 0.5vw;

    @media (max-width: 768px) {
        margin-block: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
      }
}

.circleIcon {
    margin: 1vw;
    padding: 1vw;
    background: var(--vt-c-ac-gold-gradient);
    border-radius: 2vw;

    @media (max-width: 768px) {
        margin: 0.5em;
        padding: 1.5vw;
        border-radius: 6vw;
      }
}

.fa_light {
    color: var(--vt-c-ac-maroon);
    background: var(--vt-c-ac-gold-gradient);
    width: 1em;
    height: 1em;
}

.linkslist {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction:column;
    align-items: center;
    height: 100%;
    @media (max-width: 768px) {
        margin-block: 1rem;
    }
}

.linkslist li {
    text-align: center;
    @media (max-width: 768px) {
        margin-bottom: 1rem;
    }
}

.innerLink {
    text-decoration: none;
    color: var(--vt-c-white);
}

.block3_content_wrapper {
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
}

.inputBox {
    padding: 1vw;
    width: 100%;
    background-color: var(--vt-c-ac-maroon);
    border-color: var(--vt-c-white);
    margin-bottom: 1vw;
    border: 1px solid var(--vt-c-white);
    @media (max-width: 768px) {
        margin-bottom: 1.5vw;
        text-align: center;
        padding: 0.5rem;
    }
}

.inputBox::placeholder{
    color: var(--vt-c-white);
}

.colspanDiv {
    width: 100%;
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
      }
}

.sendButton {
    width: 100%;
    padding: 0.8rem;
    color: var(--vt-c-black);
    font-weight: 600;
    border-width: 0;
    background: var(--vt-c-ac-gold-gradient);
    @media (max-width: 768px) {
        padding: 0.8rem;
        margin-bottom: 5%;
      }
}

.social_container {
    margin-top: 1.5vw;
    @media (max-width: 768px) {
        display: flex;
        margin-top: 2.5vw;
        justify-content: center;
        align-items: center;
      }
}
.social_container a {
    font-size: 2em;
}

.image_class {
    color: var(--vt-c-white);
    margin-right: 1.5vw;
    @media (max-width: 768px) {
        margin-left: 1.5vw;
        margin-right: 1.5vw;
      }
}

.copyrightText {
    text-align: center;
    font-size: 0.8em;
    font-weight: lighter;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-color: var(--vt-c-white);
    border-top-width: 0.1vw;
    border-style: solid;
    border-left-width: 0;
    border-right-width: 0;
    margin-bottom: 0;
    border-bottom: 0;

    @media (max-width: 768px) {
        padding-top: 1.5vw;
        padding-bottom: 2vw;
        font-size: 0.7em;
      }
}
