
.main {
    background-color: var(--vt-c-ac-maroon);
    color: var(--vt-c-white);
}

.imgMain {
    width: 100%;
    height: 25%;
}

.blockContainer {
    display: flex;
    justify-content: stretch;
    height: 100%;
    margin: 0; 
    padding: 0;
    font-family: Krub, sans-serif;
    font-size: 1vw;

    @media (max-width: 768px) {
        flex-direction: column;
        height: auto;
      }
}

.block1 {
    font-weight: lighter;
    width: 25%;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media (max-width: 768px) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
}

.block2 {
    font-weight: lighter;
    width: 20%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;

    @media (max-width: 768px) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
}

.block3 {
    font-weight: lighter;
    width: 25%;
    margin-right: 10%;
    margin-top: 2%;

    @media (max-width: 768px) {
        width: 100%;
        margin-top: 3%;
        margin-left: 0;
        margin-right: 0;
      }
}


.aboutText {
    max-width: 100%;
    padding-left: 2vw;
    text-align: center;
    font-size: 1.2vw;
    line-height: 1.5vw;

    @media (max-width: 768px) {
        margin-left: 25%;
        margin-right: 25%;
        font-size: 2.5vw;
        line-height: 3.5vw;
        padding-left: 0;
        margin-bottom: 3%;
      }
}

.contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 1.2vw;
    line-height: 1.5vw;
    margin-top: 0.5vw;

    @media (max-width: 768px) {
        font-size: 2.5vw;
        line-height: 3vw;
        margin-top: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
      }
}

.circleIcon {
    margin: 1vw;
    padding: 1vw;
    background: var(--vt-c-ac-gold-gradient);
    border-radius: 2vw;
    line-height: 1.1vw;

    @media (max-width: 768px) {
        margin: 1vw;
        padding: 1.5vw;
        border-radius: 4vw;
        line-height: 1.2vw;
      }
}

.fa_light {
    color: var(--vt-c-ac-maroon);
    background: var(--vt-c-ac-gold-gradient);
    width: 1vw;
    height: 1vw;
}

.linkslist {
    list-style: none;
    justify-content: center;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
  
    @media (max-width: 768px) {
        margin: 1.5vw;
        font-size: 2.5vw;
      }
}

.linkslist li {
    text-align: center;
    line-height: 3.4vw;
    @media (max-width: 768px) {
        margin: 1.5vw;
        line-height: 3.5vw;
      }
}

.innerLink {
    text-decoration: none;
    color: var(--vt-c-white);
}

.block3_content_wrapper {
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
}

.inputBox {
    font-size: 1.2vw;
    padding: 1vw;
    background-color: var(--vt-c-ac-maroon);
    border-color: var(--vt-c-white);
    border-width: 0.13vw;
    margin-bottom: 1vw;
    border-style: solid;
    border: 1px solid var(--vt-c-white);
    @media (max-width: 768px) {
        margin-bottom: 1.5vw;
        font-size: 3vw;
        text-align: center;
        padding: 1.3vw;
      }
}

.colspanDiv {
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
      }
}

.sendButton {
    padding: 1vw;
    color: var(--vt-c-black);
    font-size: 1.2vw;
    border-width: 0;
    background: var(--vt-c-ac-gold-gradient);
    @media (max-width: 768px) {
        padding: 1vw;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        font-size: 2.5vw;
        margin-bottom: 5%;
      }
}

.social_container {
    margin-top: 1.5vw;
    @media (max-width: 768px) {
        margin-top: 2.5vw;
        margin-bottom: 15%;
        justify-content: center;
      }
}

.image_class {
    color: var(--vt-c-white);
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 1.5vw;
    @media (max-width: 768px) {
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        width: 3vw;
        height: 3vw;
      }
}

.copyrightText {
    text-align: center;
    font-size: 0.9vw;
    font-weight: lighter;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-color: var(--vt-c-white);
    border-top-width: 0.1vw;
    border-style: solid;
    border-left-width: 0;
    border-right-width: 0;
    margin-bottom: 0;
    border-bottom: 0;

    @media (max-width: 768px) {
        font-size: 1.8vw;
        padding-top: 1.5vw;
        padding-bottom: 2vw;
      }
}
