@import "../base.css";

.main {
    background-color: var(--vt-c-ac-maroon);
    color: var(--vt-c-white);
}

.imgMain {
    width: 100%;
}

.tableContainer {
    #display: flex;
    justify-content: stretch; /* Horizontally center the content */
    height: 28vw; /* Use the full viewport height */
    margin: 0; /* Remove default margin */
    padding: 0;
}

.table {
    border-collapse: collapse;
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

th {
    font-family: Rubik, sans-serif;
    font-size: 1.5vw;
    padding-left: 2.5vw;
    padding-top: 1.6vw;
    padding-bottom: 1.6vw;
    padding-right: 5vw;
    font-weight: bold;
    background-color: var(--vt-c-ac-maroon-light);
}

#th1 {
    background-color: var(--vt-c-ac-maroon);
}

td {
    font-family: Krub, sans-serif;
    font-size: 0.9vw;
    font-weight: lighter;
}

#td1 {
    padding-top: 1.5vw;
}

#td2, #td3, #td4 {
    vertical-align: top;
    padding-top: 1.5vw;
    padding-left: 0;
}

.aboutText {
    max-width: 18vw;
    padding-left: 2.5vw;
    line-height: 1.4vw;
}

.contactContainer {
    display: flex;
    justify-content: left;  /* Horizontal alignment */
    align-items: center;      /* Vertical alignment */
    padding-left: 2.5vw;
}
.circleIcon {
    margin: 1vw;
    padding: 1vw;
    background: var(--vt-c-ac-gold-gradient);
    border-radius: 1.6vw;
}

.fa-light {
    color: var(--vt-c-ac-maroon);
    background: var(--vt-c-ac-gold-gradient);
    font-size: 1.3vw;
}

.linkslist {
    list-style: none;
    padding-left: 2.5vw;
}
.linkslist li {
    height: 2vw;
}

.rowspanDiv2 {
    padding-left: 2.5vw;
    padding-right: 1vw;
    padding-top: 1vw;
}

.inputBox {
    font-size: 1.2vw;
    padding: 0.8vw;
    background-color: var(--vt-c-ac-maroon);
    border-color: var(--vt-c-white);
    border-width: 0.1vw;
    margin-bottom: 2vw;
    border-style: solid;
}

.sendButton {
    padding: 1vw;
    color: var(--vt-c-black);
    font-size: 1vw;
    font-weight: bold;
    border-width: 0;
    background: var(--vt-c-ac-gold-gradient);
}

.image-class {
    color: var(--vt-c-white);
    padding-left: 1vw;
    font-size: 1.5vw
}

.copyrightText {
    text-align: center;
    font-size: 0.9vw;
    font-weight: lighter;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-color: var(--vt-c-white);
    border-top-width: 0.1vw;
    border-style: solid;
    border-left-width: 0;
    border-right-width: 0;
    margin-bottom: 0;
    border-bottom: 0;
}