
.linkComponent {
  font-size: 1.9vw;
  padding: 1%;
  padding-right: 6%;
  align-items: center;

  @media (max-width: 768px) {
    font-size: 1.4em;
  }
}

.icon {
  color: var(--vt-c-black);
  margin: 3%;
  @media (max-width: 768px) {
    margin-right: 1.3vw;
  }
}

.icon:hover {
  color: var(--vt-c-white);
}