.linkComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    color: var(--vt-c-black);
    font-size: 1.25em;
}

.icon:hover {
    color: var(--color-primary-dark);
}