
.user {
    position: relative;
    aspect-ratio: 3/4;
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) {
        margin: 20%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

.imageDiv{
    height: 80%;
    position: relative;
}
.imgMain {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.textDiv {
    flex-direction: column;
    background-color: var(--color-primary-dark);
    padding-inline: 5%;
    padding-block: 7.5%;
    color: var(--vt-c-white);
    font-style: normal;
    text-align: justify;
}

.name {
    font-weight: 600;
}

.role {
    font-weight: lighter;
    color: var(--vt-c-white);
}

.socialContainer {
    position: absolute;
    z-index: 1;
    bottom: 0;
    transform: translateY(20%);
    right: 0;
    width: 10vw;
    height: 3vw;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 768px) {
        width: 34vw;
        height: 9vw;
    }
}

.iconsDiv {
    display: flex;
    justify-content: space-evenly;
    background: var(--color-primary-gradient);
    max-width: 100%;
    flex: 1;
    flex-direction: row;
    text-align: end;
}
