
.user {
    position: relative;
    aspect-ratio: 3/4;
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) {
        margin: 20%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

.imageDiv{
    height: 80%;
}
.imgMain {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.textDiv {
    flex-direction: column;
    background-color: var(--color-primary-dark);
    padding-left: 5%;
    color: var(--vt-c-white);
    font-style: normal;
    text-align: justify;
}

.name {
    margin-top: 7.5%;
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 1.1em;
    @media (max-width: 1268px) {
        font-size: 0.9em;
    }
    @media (max-width: 768px) {
        font-size: 1.4em;
    }
}

.role {
    font-family: 'Krub';
    font-weight: lighter;
    color: var(--vt-c-white);
    font-size: 1em;
    margin-bottom: 7.5%;
    @media (max-width: 1268px) {
        font-size: 0.8em;
    }
    @media (max-width: 768px) {
        font-size: 1.3em;
    }
}

.socialContainer {
    position: absolute;
    display: inline-block;
    z-index: 1;
    top: 14vw;
    right: 0;
    width: 75%;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 768px) {
        top: 50vw;
        width: 45vw;
    }
}

.iconsDiv {
    display: inline-block;
    background: var(--color-primary-gradient);
    max-width: 100%;
    flex: 1;
    flex-direction: row;
    text-align: end;
}
