.navbar{
    height: var(--navbar-height);
    width: 100%;
    background-color: var(--navbar-bg-color);
    padding-inline: 10vw;
    transition: all 0.5s ease-in-out;
}

.navbarSpace {
    padding-top: var(--navbar-height) !important;
}

/*desktop*/
@media (min-width: 768px) {
    .navbar{
        background-color: var(--color-primary-dark) !important;
    }
}

.navbar ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.socialLinks{
    font-size: 1.1em;
    color: var(--color-inv-text);
    margin-left: 2em;
}

/*Laptop screen*/
@media (min-width: 768px) {
    .navbarItem, .registerButton{
        height: 100%;
        border-bottom: var(--color-primary);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .registerButton{
        background: var(--theme-gold);
        color: var(--color-text-in-primary);
    }

    .navbarItem a{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbarItemCurrent{
        border-bottom: 3px solid white;
    }

    .navbarItem:hover{
        border-bottom: 3px solid var(--color-primary);
    }

}

/* Mobile Screen */
@media (max-width: 768px) {
    .navbarItemCurrent{
        color : var(--color-primary);
    }
    .socialLinks{
        margin-left: 0 !important;
    }
}

.navbar li a{
    color: var(--color-inv-text) !important;
    text-decoration: none;
    margin-inline: 1em;
}


@media (max-width: 768px) {
    .navbar{
        height: 100%;
        background-color: transparent;
    }

    .navbar ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .navbar ul li{
        font-size: 2em;
    }
}

/* Define initial state for the entering element */
.nav-part-enter {
    opacity: 0;
    transform: scale(0.9);
}

/* Define active state during the entering transition */
.nav-part-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

/* Define initial state for the exiting element */
.nav-part-exit {
    opacity: 1;
}

/* Define active state during the exiting transition */
.nav-part-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}
