.appHeader {
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.5s ease-in-out;
}

@media (max-width: 768px) {
    .appHeader{
        height: 100vh;
        background-color: rgba(0,0,0,0.8);
        padding-block: 20vh;
        position: fixed;
        top:0;
        right: 0;
        width: 100%;
        z-index: 999;
        transition: opacity 0.5s ease-in-out 1ms,
            width 1ms linear;
    }

    .appHeaderClosed {
        opacity: 0;
        width: 0;
        transition: opacity 0.5s ease-in-out,
            width 1ms linear 0.5s;
    }
}

.logo{
    height: 100%;
    width: auto;
    max-height: var(--header-banner-height);
    object-fit: contain;
}

/* Hamburger Nav toggle */

.mobileNav{
    display:none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.2rem;
    z-index: 1000;
    width: 100%;
}

.navToggle{
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    height: 2rem;
    width: 2rem;
}

@media (max-width: 768px) {
    .mobileNav{
        display:block;
    }
}
