.navbarSpace {
    padding-top: var(--navbar-height) !important;
}
.navbar{
    height: var(--navbar-height);
    width: 100%;
    background-color: var(--color-primary-dark);
    padding-inline: 5vw;
    transition: all 0.5s ease-in-out;
}
.navbar ul{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 0.5rem;
}

.navbar li span, .navbar li a{
    color: var(--color-inv-text);
    text-decoration: none;
}

.socialLinks{
    font-size: 1.1em;
    color: var(--color-inv-text);
    margin-left: 2em;
}

.socialLinks a:first-child{
    margin-left: 0 !important;
}
.socialLinks a{
    margin-inline: 0.5rem;
    @media (max-width: 768px) {
        margin-inline: 0.5em !important;
    }
}

.navSocialIcons{
    height: 2rem !important;
    width: 2rem !important;
}

.navbarItemCurrent{
    border-bottom: 3px solid white !important;
}
.navbarItem:hover{
    border-bottom: 3px solid var(--color-primary);
}

/*Laptop screen*/
@media (min-width: 768px) {
    .navbar li span, .navbar li a{
        margin-inline: 1rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbarItem{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Mobile Screen */
@media (max-width: 768px) {
    .navbar{
        height: 100%;
        background-color: transparent;
        position: relative;
    }

    .navbar ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
    }
    .socialLinks{
        margin-left: 0 !important;
    }
}


