.appHeader {
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.5s ease-in-out;
}

.navBrand[data-hide=true]{
    display: none;
}

@media (max-width: 768px) {
    .appHeader{
        height: 100vh;
        background-color: rgba(0,0,0,0.8);
        padding-block: 20vh;
        position: fixed;
        top:0;
        right: 0;
        width: 100%;
        z-index: 999;
        transition: opacity 0.5s ease-in-out 1ms,
            width 1ms linear;
    }

    .appHeaderClosed {
        opacity: 0;
        width: 0;
        transition: opacity 0.5s ease-in-out,
            width 1ms linear 0.5s;
    }
}

/* Hamburger Nav toggle */

.mobileNav{
    display:none;
    position: fixed;
    background-color: var(--color-primary-dark);
    border-radius: 0.2rem;
    z-index: 1000;
    width: 100%;
}

.mobileNav[data-transparent=true]{
    background-color: rgba(0,0,0,0) !important;
}

.navToggle[data-bg=true]{
    background-color: rgba(0,0,0,0.6) !important;
}

@media (max-width: 768px) {
    .mobileNav{
        display:block;
    }
}
