.appHeader {
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.5s ease-in-out;
}

.navBrand[data-hide=true]{
    display: none;
}

@media (max-width: 768px) {
    .appHeader{
        background-color: var(--color-primary-dark);
        padding-top: 4rem;
        padding-bottom: 2rem;
        position: fixed;
        height: fit-content;
        max-height: 100%;
        top:0;
        right: 0;
        width: 100%;
        z-index: 999;
        transition: all 0.5s ease-in-out;
    }

    .appHeaderClosed {
        top: -100%;
        opacity: 0;
    }
}

/* Hamburger Nav toggle */

.mobileNav{
    display:none;
    position: fixed;
    background-color: var(--color-primary-dark);
    z-index: 1000;
    width: 100%;
}

.mobileNav[data-transparent=true]{
    background-color: rgba(0,0,0,0) !important;
}

.navToggle[data-bg=true]{
    background-color: rgba(0,0,0,0.6) !important;
}

@media (max-width: 768px) {
    .mobileNav{
        display:block;
    }
}
