.projectContainer {
  font-family: "Poppins", sans-serif !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px clamp(10px, 5vw, 70px);
  text-align: justify;
}

.projectContainer{
  h1, h2, h3{
    font-weight: bold;
  }
}

.projectContainer h1 span {
  font-size: 1.5rem;
  color: var(--color-heading);
  font-weight: 600;
}

.projectContainer img {
  width: clamp(300px, 50vw, 600px);
  height: auto;
  margin: 0 auto;
  display: block;
}

.projectContainer span{
  font-family: "Poppins", sans-serif !important;
}
