.projectContainer {
  font-family: "Poppins", sans-serif !important;
  padding: 40px 200px;

  @media (max-width: 768px) {
    padding: 40px 40px;
  }

  h1, h2, h3{
    font-weight: bold;
    margin-top: 1.2rem;
  }

  h1 span {
    font-size: 1.5rem;
    color: var(--color-heading);
    font-weight: 600;
    text-align: center;
  }

  img {
    width: clamp(300px, 50vw, 600px);
    height: auto;
  }

  span{
    font-family: "Poppins", sans-serif !important;
  }

    // add bottom margin to all text elements
    p, h1, h2, h3, h4, h5, h6, ul, ol, li, blockquote, pre, table, dl, dd, dt, code, figure, figcaption {
        margin-bottom: 1rem;
    }

    ul > li{
        list-style-type: circle;
        margin-bottom: 0.5rem;
    }

    span{
        margin-bottom: 1rem;
    }
}
