.projectContainer {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px clamp(10px, 5vw, 70px);
  text-align: justify;
}

.projectContainer img {
  width: clamp(300px, 50vw, 600px);
  height: auto;
  margin: 0 auto;
  display: block;
}
