
.detailBlock {
    height: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
    padding-top: 4vw;
}

@media (max-width: 1300px) {
    .detailBlock {
        height: 30vw;
    }
}

@media (max-width: 1200px) {
    .detailBlock {
        height: 35vw;
    }
}

@media (max-width: 1100px) {
    .detailBlock {
        height: 40vw;
    }
}

@media (max-width: 1000px) {
    .detailBlock {
        height: 45vw;
    }
}


@media (max-width: 768px) {
    .detailBlock {
        flex-direction: column;
        height: 80vw;
        justify-content: start;
    }
}

@media (max-width: 650px) {
    .detailBlock {
        flex-direction: column;
        height: 105vw;
        justify-content: start;
    }
}

.imageContainer {
    align-items: center;
    @media (max-width: 768px) {
        text-align: center;
        margin-bottom: 2vw;
    }
}

.mainImage {
    align-self: center;
    width: 30vw;
    height: 20vw;
    @media (max-width: 768px) {
        width: 60%;
        height: auto;
    }
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vw;
    width: 55vw;
    height: 20vw;
    @media (max-width: 768px) {
        width: 90%;
        max-width: 90%;
        padding-left: 5%;
    }
}

.detailBlockHeader {
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    font-size: 1.5em;
    @media (max-width: 768px) {
        align-self: center;
    }
}

.detailBlockOverview {
    max-width: 100%;
    margin-top: 2%;
    padding-left: 5%;
    font-size: 1em;
}

.rowButtonContainer {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 2%;
    padding-left: 5%;
    @media (max-width: 768px) {
        justify-content: center;
    }
}

.rowButton {
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0.8%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    border: none;
    font-size: 1em;
    font-weight: bold;
    background: var(--vt-c-ac-gold-gradient);
    color: var(--vt-c-black);
    @media (max-width: 768px) {
        padding: 1.5%;
        font-size: 2.8vw;
    }
}

.rowButton:hover {
    background: var(--vt-c-white);
}

.rowButton:active {

}

.rowButtonDescription {
    max-width: 100%;
    padding-left: 5%;
    margin-bottom: 2%;
    font-size: 1em;
}


