
.user {
    position: relative;
    aspect-ratio: 3/4;
    display: flex;
    flex-direction: column;
    border-radius: 0.375rem;
    overflow: hidden;
    @media (max-width: 768px) {
        margin: 5% 20%;
    }
    transition: all 0.2s ease-in-out;
}

.imageDiv{
    height: 75%;
    position: relative;
}
.imgMain {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.textDiv {
    min-height: 25%;
    flex-direction: column;
    padding-inline: 5%;
    padding-top: 7.5%;
    padding-bottom: 5%;
    color: var(--vt-c-white);
    font-style: normal;
}

.name {
    font-weight: 600;
}

.role {
    font-weight: lighter;
    max-width: 100%;
    width: 100%;
    font-size: 0.9rem;
    color: var(--vt-c-white);
    max-lines: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.socialContainer {
    position: absolute;
    z-index: 1;
    bottom: 0;
    transform: translateY(20%);
    right: 0;
    height: 3vw;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 768px) {
        height: 9vw;
    }
}

.iconsDiv {
    display: flex;
    justify-content: space-evenly;
    background: var(--color-primary-gradient);
    flex-direction: row;
}
